body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.pw_prompt {
  position:fixed;
  left: 50%;
  top:50%;
  margin-left:-100px;
  padding:15px;
  width:200px;
  border:1px solid black;
}
.pw_prompt label {
  display:block; 
  margin-bottom:5px;
}
.pw_prompt input {
  margin-bottom:10px;
}